# Private key for deployment (DO NOT COMMIT)
# Generate a new wallet for testnet deployment
PRIVATE_KEY=f20870c9fe353288a4477fa1f6453ff280b375b67531a74ff6935e1399fbbc57

# Network Configuration
VARITY_TESTNET_RPC=https://rpc-varity-testnet-rroe52pwjp.t.conduit.xyz
VARITY_TESTNET_CHAIN_ID=33529

# USDC Token Address
USDC_ADDRESS=0x75faf114eafb1BDbe2F0316DF893fd58CE46AA4d
